.app.light {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #35353b;
    --primary-color: #0232c2;
    --secondory-color: #0449e0;
    --inverted-primary-color: #fff;
    --inverted-secondory-color: #b6c5b6;
}
